
/* for index.html responsive design */
@media (max-width: 600px) {
   html body {



    }

    .content {

        overflow: scroll;
        margin-left: 30%;



    }
   

     .sidebar {
        display: flex;
        flex-direction: column;
        width: 30%;
        height: auto;
        position: fixed;

    }
    .container .sidebar div {
        margin-top: 50%;
        width: auto;
        margin: 70% 0 0 2%;
    }
    
    .sidebar div a {
        font-size: 1rem;
    }
    .card {
         margin: 0;
         margin-top: 30%;
         width: 100%;
         height: auto;
         flex-shrink: 0;
    }
    .container .content .card img {
        width: 50%;
        margin-left: 25%;
    }
    .texts {

        font-size: 1.0em;
    }
    .texts h2 {
        font-weight: 500;
        width: 100%;
        margin: 0;
    }
    .content .card .texts h2 img {
        max-width: 25px;
        margin: 0;
        vertical-align: middle;
    }

    #mayang {

        margin-top: 12rem;



    }
    /* for about.html responsive design */
    
  
   
    .sidebar div a {
        font-size: 1rem;
    }

    .card2 {
    
        width: 100%;
        height: auto;
        flex-shrink: 0;
    }

     .container .content .card2 .One  {

        flex-direction: column;
        
     }

     .container .content .card2 .One img {

        align-self: center;
        width: 50%;
    }


       .container .content .card2 .One .right {

        margin-top: 5%;
        flex-direction: column;
        font-size: 0.9rem;
        width: auto;
    }

      .container .content .card2 .One .right p {
     
        margin: 0;
        padding: 0.2rem;
      }

    .container .content .card2 .One .right2 {

        flex-direction: column;
        font-size: 0.9rem;
        width: auto;
        margin-top: 0;
    }
     .container .content .card2 .One .right2 p {

        margin: 0;
        padding: 0.2rem;

     }
     .container .content .card2 .two {

        flex-direction: column;
        width: auto;

    }

      .container .content .card2 .two .why {

      
        width: auto;


    }
    .container .content .card2 .two .why p {

      
        padding: 2px;

    }

    .why h1 {

        text-align: center;
        margin: 0;
        margin-top: 1rem;
        font-size: 1.28rem;
        margin-left: 0;
        padding: 0;

    }
    .container .content .card2 .two .why img {


        margin-top: 7%;
        margin-left: 1%;
        max-width: 15%;
        margin-right: 0;
        padding: 0;
        


    }

    .container .content .card2 .two img {

        align-self: center;
        margin: 0;
        width: 50%;



    }
   

    
   

}


