    * {

        box-sizing: border-box;



    }


    body {


        margin: 0;
        padding: 0;
        height: 100%;
        font-family: 'Jost', 'Segoe UI', Geneva, Verdana, sans-serif;
        background: url(assets/court.webp);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
    }


    .container {

        display: flex;
        width: 100%;
        height: 100vh;





    }

    .sidebar {

        width: 40%;


    }

    .sidebar div {


        padding: 3%;
        margin: 10%;





    }

    .sidebar div a {

        text-decoration: none;
        color: rgb(0, 0, 0);
        background-color: #FDD0A2;
        padding: 10px;
        border-radius: 5px;


    }


    .sidebar div a:hover {

        color: burlywood;
        background-color: rgb(172, 128, 128);
        transition: 0.3s;

    }


    .content {

        width: 60%;


    }


    .card {

        width: 70%;
        height: 70%;
        background-color: #FDD0A2;
        border-radius: 10px;
        box-shadow:
            0 2px 4px rgba(0, 0, 0, 0.1),
            0 8px 15px rgba(0, 0, 0, 0.2);
        margin: 10%;






    }


    .container .content .card img {

        width: 30%;
        margin-left: 35%;
        margin-top: 5%;



    }

    .texts {

        text-align: center;

    }

    .texts h2 {

        margin-right: 10%;
        font-weight: 500;




    }

    .content .card .texts h2 img {

        max-width: 40px;
        margin: 0;
        vertical-align: middle;

    }


    /* for about.html */


    .card2 {


        width: 90%;
        height: 80%;
        margin: 10%;
        margin-top: 7%;
        margin-left: 1%;
        background-color: #FDD0A2;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),  0 8px 15px rgba(0, 0, 0, 0.2); ;
        border-radius: 10px;


    }

    .container .content .card2 .One img {


        
        width: 20%;
        margin: 2%;




    }

    .container .content .card2 .One {

        display: flex;
        




    }

     .container .content .card2 .One .right {

        display: flex;
        flex-direction: column;
        width: 43%;
        margin-top: 5%;
        

        



    }
 
     .container .content .card2  .One .right p {
        
        margin: 1%;
        


         }

     .container .content .card2 .One .right2 {

        display: flex;
        flex-direction: column;
        width: 30%;
        margin-top: 5%;


     }

    .right2 p {

    margin: 1%;


    }

     .container .content .card2 .two  {

        display: flex;





     }

     .container .content .card2 .two .why {

        display: flex;
        flex-direction: column;
        width: 70%;





     }


     .why h1 {

        text-align: center;
        margin: 0;
        margin-top: 5%;

     }

     .why p {

        margin: 0;        
        margin-left: 4%;
        margin-top: 2%;



     }

      

    .container .content .card2 .two  img {


        margin-top: 7%;
        margin-left: 3%;
        width: 20%;




    }

     .container .content .card2 .two .why h1 img {

        margin: 0;
        width: 50px;
        vertical-align: middle;



    }